<div class="container-fluid page">
  <div class="page__box p-3 mt-2">Marcas de discos duros</div>
  <div class="page__content shadow-lg p-3 position-relative">
    <div class="text-center">
      <div *ngIf="loading else showNomHardDiskBrandsTable">
        <mat-progress-bar mode="indeterminate" color="warn"></mat-progress-bar>
      </div>
      <ng-template #showNomHardDiskBrandsTable>
        <button mat-raised-button color="warn" (click)="openCreateNomHardDiskBrandFormDialog(formNomHardDiskBrandTemplate)">
          <mat-icon>add</mat-icon>
          Adicionar
        </button>&nbsp;&nbsp;
        <button mat-raised-button color="primary">
          <mat-icon>feed</mat-icon>
          Exportar
        </button>
        <hr>
        <table mat-table [dataSource]="dataSource" matSort #table>
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Nombre</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Acciones</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button title="Detalles" (click)="onShowSelectedElementDetails(element)">
                <mat-icon aria-hidden="false" aria-label="" fontIcon="visibility" color="primary"></mat-icon>
              </button>
              <button mat-icon-button (click)="openEditNomHardDiskBrandFormDialog(element, formNomHardDiskBrandTemplate)" title="Modificar">
                <mat-icon aria-hidden="false" aria-label="" fontIcon="edit" color="accent"></mat-icon>
              </button>
              <button mat-icon-button title="Eliminar" (click)="openConfirmDeleteDialog(element)">
                <mat-icon aria-hidden="false" aria-label="" fontIcon="delete" color="warn"></mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
        </table>
      </ng-template>
      <mat-paginator [pageSizeOptions]="[5, 10, 15, 20]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
</div>

<ng-template #formNomHardDiskBrandTemplate>
  <h1 mat-dialog-title>{{ templateTitle }}</h1>
  <div mat-dialog-content>
    <form [formGroup]="nomHardDiskBrandForm">
      <mat-form-field appearance="fill" style="width: 100%;">
        <mat-label>Nombre</mat-label>
        <input matInput #name formControlName="name" (blur)="updateErrorMessageNameControl()">
        <mat-hint>{{ name.value.length }}/10</mat-hint>
        @if (nomHardDiskBrandForm.controls['name'].invalid) {
          <mat-error>{{ errorNameMessage }}</mat-error>
        }
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close [disabled]="nomHardDiskBrandForm.invalid" color="primary" (click)="handleSubmitButtonClickEvent()">Aceptar</button>
    <button mat-raised-button mat-dialog-close color="warn">Cerrar</button>
  </div>
</ng-template>
