.page {
  color: white;
  padding: 0 1rem;
  background: #f1f5f9;
  &__box {
    min-height: 90px;
    background: #5a0000;
    margin: 0 -1rem;
    font-size: 24px;
  }
  &__content {
    min-height: calc(100vh - 160px);
    border-radius: 10px;
    margin-top: -2rem;
    background: white;
    color: black;
    font-size: 1rem;
  }
}
