<mat-nav-list>
  <div class="logo py-1">
    <img src="assets/img.jpg" alt="logo">
  </div>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
    <mat-icon matListItemIcon>home</mat-icon>Inicio
  </a>
  <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active">
    <mat-icon matListItemIcon>dashboard</mat-icon>DASHBOARD
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/computadoras" routerLinkActive="list-item-active">
    <mat-icon matListItemIcon>computer</mat-icon>Computadoras
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/monitores" routerLinkActive="list-item-active">
    <mat-icon matListItemIcon>monitor</mat-icon>Monitores
  </a>
  <a mat-list-item routerLink="/ups" routerLinkActive="list-item-active">
    <mat-icon matListItemIcon>battery_charging_full</mat-icon>UPS
  </a>
  <a mat-list-item routerLink="/estabilizadores" routerLinkActive="list-item-active">
    <mat-icon matListItemIcon>battery_saver</mat-icon>Estabilizadores
  </a>
  <mat-divider></mat-divider>
  <a mat-list-item routerLink="/reportes_de_computadoras" routerLinkActive="list-item-active">
    <mat-icon matListItemIcon>bar_chart</mat-icon>Rep. computadoras
  </a>
  <a mat-list-item routerLink="/reportes_de_dispositivos" routerLinkActive="list-item-active">
    <mat-icon matListItemIcon>pie_chart_outlined</mat-icon>Otros reportes
  </a>
</mat-nav-list>
